<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Hello!!</title>
</head>
<head th:include="components/includes :: head"></head>
<body>
	<div class="container-fluid">
		<div th:include="components/header :: header "  class="row header"></div>
		<div class="row body">
			<div th:include="components/sidebar :: sidebar " class="col-2 sidebar"/>
			<div class="col-10 content">
				<div class="col">
					<h1>User頁面</h1>
					<h2 th:inline="text">Hello
						[[${#httpServletRequest.remoteUser}]]!</h2>
				</div>
			</div>
		</div>
	</div>
	<div th:include="components/includes :: foot"></div>
</body>
</html>